# Upload directory
upload/

# Custom configuration file
config_custom.php

t/timer_settings.json

# calendar storage
c/storage/

# Local development config
c/config.php
m/config.php
m/config_local.php

# meeting data directory
s/data/
